{% extends 'base.html' %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="../static/index.css">
{% endblock %}

{% block content %}

<div class="container">
    <h1> for more information please follow the below methods to contact us and feel free to pass any complaints. Thank you  </h1>
</div>

<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <div class="pa">
        <img src="static/photo/fb.png" class="card-img-top" alt="..." style=" height:50px;  width: 50px;"></div>
        <div class="card-body">
            <h5 class="card-title">Facebook account</h5>
            <p class="card-text"> for more information you can click or finder us on face book</p>
            
        </div>
    </div>
</div>
<div>
    <div class="col-md-4">
<div class="card" style="width: 18rem;">
        <img src="static/photo/twitter.png" class="card-img-top" alt="..." style=" height:50px;  width: 50px;">
        <div class="card-body">
          <h5 class="card-title">Twitter</h5>
          <p class="card-text"> for more information you can click or finder us on Twitter account</p>
          
        </div>
      </div>
</div>


<div>
    <div class="col-md-4">
<div class="card" style="width: 18rem;">
        <img src="static/photo/Instagram.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">instagram</h5>
          <p class="card-text"> for more information you can click or finder us on instagram account</p>
          
        </div>
      </div>
      </div>
</div>
{% endblock %}